<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <!-- if ($condominio_unico != "") ccc --> 
                <input type="hidden" id="id_condominio" name="id_condominio" value="<!-- $id_condominio -->">
                <div class="control-group">
                    <label class="control-label" for="condominio_nome">Condomínio</label>
                    <div class="controls">
                        <div class="control-text"><!-- $condominio_nome --></div>
                    </div>
                </div>
                <!-- else ccc -->
                <div class="control-group">
                    <label class="control-label" for="id_condominio">Condomínio</label>
                    <div class="controls">
                        <select id="id_condominio" name="id_condominio" rel="<!-- $id_condominio -->">
                            <option value="">Selecione...</option>
                            <!-- each ($condominios) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>
                <!-- end ccc -->

                <div class="control-group">
                    <label class="control-label" for="bloco">Bloco</label>
                    <div class="controls">
                        <input type="text" class="input-mini" alt="integer" id="bloco" name="bloco" value="<!-- $bloco -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="apartamento">Apartamento</label>
                    <div class="controls">
                        <input type="text" class="input-mini" alt="integer" id="apartamento" name="apartamento" value="<!-- $apartamento -->">
                    </div>
                </div>

                <!-- import (layout/senha.html) -->

                <!-- if ($id != "") c2 -->
                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text">* Senha criptografada, impossível visualizar novamente.</div>
                    </div>
                </div>
                <!-- end c2 -->

                <div class="control-group">
                    <label class="control-label" for="status">Ativo</label>
                    <div class="controls">
                        <input type="checkbox" id="status" name="status" rel="<!-- $status -->" value="1">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>