<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span12">
        <!-- if ($formulario == "") f1 -->
        <!-- if ($condominios != "") e1 -->
        <!-- import (layout/main/condominios/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/condominios/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/condominios/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
</div>
<!-- if ($condominios != "") e2 -->
<!-- if ($formulario != 1) f2 -->
<div class="row">
    <div class="span12">
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new">Cadastrar!</a>	
    </div>
</div>
<!-- end f2 -->
<!-- end e2 -->