<form autocomplete="off" method="post" action="/index.html?m=moradores" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="buscador" name="buscador" value="true">
            <fieldset>

                <!-- if ($condominio_unico != "") ccc --> 
                <input type="hidden" id="id_condominio" name="id_condominio" value="<!-- $id_condominio -->">
                <div class="control-group">
                    <label class="control-label" for="condominio_nome">Condomínio</label>
                    <div class="controls">
                        <div class="control-text"><!-- $condominio_nome --></div>
                    </div>
                </div>
                <!-- else ccc -->
                <div class="control-group">
                    <label class="control-label" for="id_condominio">Condomínio</label>
                    <div class="controls">
                        <select id="id_condominio" name="id_condominio" rel="<!-- $id_condominio -->">
                            <option value="">Selecione...</option>
                            <!-- each ($condominios) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>
                <!-- end ccc -->

                <!-- if ($id_condominio != "") cc --> 
                <div class="control-group">
                    <label class="control-label" for="id_imovel">Imóvel</label>
                    <div class="controls">
                        <select id="id_imovel" name="id_imovel" rel="<!-- $id_imovel -->">
                            <option value="">Selecione...</option>
                            <!-- each ($imoveis) e3 -->
                            <option value="<!-- $e3.id -->"><!-- $e3.bloco -->/<!-- $e3.apartamento --></option>
                            <!-- end e3 -->
                        </select>
                    </div>
                </div>
                <!-- end cc -->

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Exibir <!-- $layout_nome --></button>
        <button class="btn btn-large btn-action-cancel">Limpar Exibição</button>
    </div>
</form>
<script type="text/javascript">
    $("#id_condominio").change(function() {
        window.location = $.url() + "&id_condominio=" + $(this).val();
        return false;
    });
</script>