<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome_condominio">Condomínio</label>
                    <div class="controls">
                        <div class="control-text"><!-- $nome_condominio --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="bloco_imovel_apartamento_imovel">Imóvel</label>
                    <div class="controls">
                        <div class="control-text">Bloco <!-- $bloco_imovel --> / Apartamento <!-- $apartamento_imovel --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="nome_tipo_morador">Tipo</label>
                    <div class="controls">
                        <div class="control-text"><!-- $nome_tipo_morador --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <div class="control-text"><!-- $nome --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <div class="control-text"><!-- $email --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="telefone2">Telefone Celular</label>
                    <div class="controls">
                        <div class="control-text"><!-- $telefone2 --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="telefone1">Telefone Residencial</label>
                    <div class="controls">
                        <div class="control-text"><!-- $telefone1 --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="telefone3">Telefone Comercial</label>
                    <div class="controls">
                        <div class="control-text"><!-- $telefone3 --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cpf">CPF</label>
                    <div class="controls">
                        <div class="control-text"><!-- $cpf --></div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="permitir_saida">Autorização</label>
                    <div class="controls">
                        <input type="checkbox" id="permitir_saida" name="permitir_saida" rel="<!-- $permitir_saida -->" value="1" disabled="">
                        <p class="help-block">Com autorização para saída do condomínio de dependente com idade inferior a estabelecida.</p>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>